page-unitgroup {
 .sheader1{
 color : #000000;
 }
  .sheader2{
 color : #000000;
 float: right;
 }
 .scroll-content{background:#fff;}
ion-navbar.toolbar {
    background: #f0f0f0;
}
.spinner
{
    width:100%;
    height:50%;
}
}
