page-login {
.login-content{
    background-color:transparent;
    background-image: url(../img/login_page_background_1280x1920px.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;    
    }
    .logo{
width:150px;
height:150px;
    }
}

 .viewcolor{
    background-color: #009ACD;
    }
    .editcolor{
    background-color: #69BB7B;
    }
    .trashcolor{
    background-color: #DB3223;
    }

    .toolbar-title {   
    text-overflow:none;
}
