<!--
  Generated template for the AddserviceinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{unitDetailData.pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button>
 <ion-icon name="notifications-outline"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{unitDetailData.loginas}}
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="saveEntry()" enctype='application/x-www-form-urlencoded' method="post">
    <ion-list>


      <ion-item>
        <ion-label stacked>Servicing Date <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-datetime pickerFormat="MMM DD YYYY h:mm A" displayFormat="MM/DD/YYYY h:mm A" formControlName="serviced_datetime" [(ngModel)]="serviced_datetime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Serviced By <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-input type="text" [disabled]=true formControlName="serviced_by" [(ngModel)]="unitDetailData.serviced_by"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Subject <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="service_subject" [(ngModel)]="service_subject"></ion-input>
      </ion-item>

      <b>Remark</b> <span class="mandatory" *ngIf="hideActionButton">*</span>
      <input type="text" (keyup)=address1get($event.target.value); id="example1" class="form-control" rows="8" [disabled]="readOnly"
        formControlName="service_remark" rows="6" [(ngModel)]="service_remark">



      <p><b>Upload Images</b></p>
      <p>Maximum Number of upload photos:10</p>

      <button (click)="takePictureURL()" *ngIf="isUploaded" ion-button color="primary" text-center block>Upload Photos</button>
      <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
      <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>

      <div *ngIf="addedImgLists.length>0"></div>
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let item of addedImgLists; let i = index" [attr.data-index]="i">
            <img src="{{addedImgLists[i].imgSrc}}" width="175" height="75" />
            </ion-col>
        </ion-row>
      </ion-grid>


      <div style="clear:both"><br></div>


      <div>
        <ion-badge item-end><a href="#" (click)="getNextDate(14)" style="color:white;font-weight:bold">2 <br>Weeks</a></ion-badge>
        <ion-badge item-end><a href="#" (click)="getNextDate(30)" style="color:white;font-weight:bold">1 <br> Months</a></ion-badge>
        <ion-badge item-end><a href="#" (click)="getNextDate(90)" style="color:white;font-weight:bold">3 <br> Months</a></ion-badge>
        <ion-badge item-end>
          <a href="#" (click)="getNextDate(0)" style="color:white;font-weight:bold">
            <ion-icon name="calendar"></ion-icon>
          </a>
        </ion-badge>
      </div>
      <div style="clear:both"><br></div>
      <div>Next Service Date:{{unitDetailData.nextServiceDate}}</div>
      <ion-item>
        <ion-label stacked>Request Denyo Service Support <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-checkbox [disabled]="readOnly" formControlName="is_request" [(ngModel)]="is_request" (ionChange)="updateIsRequest()"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="hideActionButton">
        <button ion-button color="primary" text-center block [disabled]="!form.valid">Complete and Save</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
    <button ion-button icon-only clear>
<ion-icon name="home" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUser()" clear>
<ion-icon name="contacts" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnitGroup()" clear>
<ion-icon name="chatboxes" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnits()" clear>
<ion-icon name="camera" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToRole()" clear>
<ion-icon name="settings" class="footer-icon"></ion-icon>
</button>
  </ion-toolbar>
</ion-footer>