// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  bluelight:  #0098D3,
  bluedark: #00569F,
  toolbargray: #294457,
  toolbarwhite: #fff,
  sortbartext: #7C7C7C,
  filterbartext: #ECF6FF,
  removedanger:#DB3223,
  sortbartextsel: #284457,
  buttonMenu1:#D1EFF9,
  greenm:#58994F,
  deficon: #fff,
  bred: #6D1511,
  header : #071C89
);

//$select-popover-list-margin-end:$select-md-padding-right;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
//@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css";
// Select
// --------------------------------------------------

/// @prop - Margin top of the select popover list
$select-popover-list-margin-top:         -1px !default;

// deprecated
$select-popover-list-margin-right:       0 !default;
/// @prop - Margin end of the select popover list
$select-popover-list-margin-end:         $select-popover-list-margin-right !default;

/// @prop - Margin bottom of the select popover list
$select-popover-list-margin-bottom:      -1px !default;

// deprecated
$select-popover-list-margin-left:        0 !default;
/// @prop - Margin start of the select popover list
$select-popover-list-margin-start:       $select-popover-list-margin-left !default;


ion-select {
  display: flex;
  overflow: hidden;

  max-width: 45%;
}

.trashcolor{
background-color:#69BB7B
}

.trippedcolor{
background-color:rgb(215,83,78);
color:white;
}


.eventcolor{
  background-color:rgb(91,192,220);
  color:white;
}

.warningcolor{
background-color:rgb(239,173,77);
color:white;
}

.servicecolor{
background-color:rgb(65,139,200);
color:white;
}

.editcolor{
background-color:greenyellow
}
.icon-size{
font-size:32px
}

.select-text {
  overflow: hidden;

  flex: 1;

  min-width: 16px;

  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-multiple-inputs ion-select {
  position: relative;
}

.select-disabled,
.item-select-disabled ion-label {
  opacity: .4;

  pointer-events: none;
}

.select-popover ion-list {
  @include margin($select-popover-list-margin-top, $select-popover-list-margin-end, $select-popover-list-margin-bottom, $select-popover-list-margin-start);
}

body{
    background-color:transparent;
    background-image: url(../img/body.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;   
}