<!--
  Generated template for the EditprofilesteponePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="header">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Unit Group</ion-title>
	</ion-navbar>
	<ion-navbar>
		<p><label class="sheader1" (click)="previous()"><Back to Previous</label>

			<label class="sheader2">Login as:{{loginas}}</label>

		</p>
	</ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form [formGroup]="form" (ngSubmit)="saveEntry()">
      <ion-list>
       <div style="position: relative;left: 35%;">
          <!--button  [disabled]="progress" (click)="doUploadPhoto()" style="background-color:#fff" *ngIf="!addedImgLists">
            <ion-icon name="camera" style="font-size: 75pt;color:#009ACD"></ion-icon>           
        </button-->
          <a (click)="doUploadPhoto()" width="100" height="75" href="#" >
          
          </a>
          <a (click)="doUploadPhoto()" href="#" >
          <img src="{{photo}}" width="100" height="75"  />
           </a>
        </div>
        <div style="position: relative;
    left: 38%;">Upload Photo
        </div>
        <div style="position: relative;
    left: 28%;">
          <p>
            <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
            <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
          </p>
        </div>
        <div style="position: relative;
    left: 6%;"><b>User Information*</b></div>
        <ion-item>
          <ion-label stacked>First Name <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="first_name" [(ngModel)]="first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Last Name <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="last_name" [(ngModel)]="last_name"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label stacked>User Id <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="username" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Password <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="password" [disabled]="readOnly" formControlName="password" [(ngModel)]="password"></ion-input>
        </ion-item>
          <ion-item>
          <ion-label stacked>Confirm Password <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="password" [disabled]="readOnly" formControlName="confirm_password" [(ngModel)]="confirm_password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email<span class="mandatory" *ngIf="hideActionButton"> *</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Contact Number <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact"></ion-input>
        </ion-item>      
 <ion-item>
          <ion-label stacked>Personal Hashtag<span class="mandatory" *ngIf="hideActionButton"> *</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="hashtag" [(ngModel)]="hashtag"></ion-input>
        </ion-item>
         <ion-item>
          <ion-label stacked>Country <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-select [disabled]="readOnly" [(ngModel)]="country" formControlName="country">
            <ion-option *ngFor="let countryData of responseResultCountry" value="{{countryData.id}}">{{countryData.country_name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="hideActionButton">
          <button ion-button color="primary" text-center block [disabled]="!form.valid">Continue</button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
