<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <!--ion-buttons end>
      <button (click)="doAdd()" style="background-color:transparent">
            <ion-icon name="ios-add-circle-outline"></ion-icon>           
        </button>
    </ion-buttons-->
    <ion-buttons end>
      <button ion-button (click)="notification()">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="message">
  <p>
    <button onclick="showtabs(0)">Inbox</button>
    <button onclick="showtabs(1)">Sent</button>
    <button onclick="showtabs(2)">Compose</button>
    <button onclick="postmsg(this)" style="display:none" id="dm">Send Message</button>
  </p>
  <p id="homepage">
    <select class="sel" name="sort" id="sort" onchange="ordermsg(this,0)">
 <option value="0">Sort By</option>
 <option value="1">Favorite Ascending</option>
 <option value="2">Sender Ascending</option>
 <option value="3">Sender Descending</option>
 <option value="4">Subject Ascending</option>
 <option value="5">Subject Descending</option>
 </select>
    <select class="sel" name="sort" id="sact" onchange="actmsg(this,0)">
  <option value="0">Action</option>
 <option value="1">Delete</option>
 <option value="2">Favorite</option>
 <option value="5">Unfavorite</option>
 <option value="3">Mark as Unread</option>
  <option value="4">Mark as read</option>
 </select>
    <span id="contentview"></span>
  </p>
  <p id="sendpage" style="display:none">
    <select class="sel" name="sort" id="sort" onchange="ordermsg(this,1)">
 <option value="0">Sort By</option>
 <option value="1">Sender Ascending</option>
 <option value="2">Sender Descending</option>
 <option value="3">Subject Ascending</option>
 <option value="4">Subject Descending</option>
 </select>
    <select class="sel" name="sort" id="sact" onchange="actmsg(this,1)">
  <option value="0">Action</option>
 <option value="1">Delete</option>
 </select>
    <span id="contentview2"></span>
  </p>
  <p id="compose" style="display:none">
    <span id="mwin">
  <input type="hidden" value="{{service_priority}}" name="important" id="important"/>
  <input type="hidden" value="{{micro_timestamp}}" name="microtime" id="microtime"/>
  <input type="hidden" value="1" name="is_mobile" id="is_mobile"/>
  <input type="hidden" value="{{userId}}" name="loginid" id="loginid"/>
  
  <!--input type="hidden" value="{{addedImgLists}}" name="attchedlist" id="attchedlist"/-->
<!--a href="http://denyoappv2.stridecdev.com/denyo2.php?method=download&file=mm.jpg">Download</a-->
 <ion-grid>
  <ion-row>     
  <ion-col>
            <a href="#" (click)="getPrority(1)">
              <ion-icon name="download{{service_priority_class1}}" style="color:aquamarine;font-size: 37px;"></ion-icon>
            </a>
          </ion-col>


          <ion-col>
            <a href="#" (click)="getPrority(2)">
              <ion-icon name="alert{{service_priority_class2}}" style="color: brown;font-size: 37px;"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>

  <p><input type="text" name="to" id="to" placeholder="To Address" class="suggest" onkeyup="sptions(event)"  onblur="sptionshide()"/></p>
   <span><input type="checkbox" name="copytome" value="1"/>&nbsp; Copy Mail</span><span><img src="assets/icon/m1.png" onclick="e('message_priority').value=1" hspace="10"/><img onclick="e('message_priority').value=2" src="assets/icon/m2.png" hspace="10"/><!--img onclick="e('message_priority').value=2" src="assets/icon/a.png" hspace="10"/--><ion-icon (click)="fileChooser(micro_timestamp)" *ngIf="isUploaded" name="attach" style="color: black;
    position: relative;
    top: 5px;
    left: 10px;
    font-size:20px"></ion-icon></span>

    <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
    <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
    <div *ngIf="addedImgLists.length>0">Attached List:</div>
    <ion-grid>
      <ion-row>
        <ion-col col-auto *ngFor="let item of addedImgLists; let i = index" [attr.data-index]="i"><img src="{{addedImgLists[i].imgSrc}}" /></ion-col>
      </ion-row>
    </ion-grid>
   

    <p><input type="text" name="subject" id="subject" placeholder="Subject" /></p>
    <p><textarea placeholder="Write Your Message" name="composemessagecontent" id="composemessagecontent"></textarea></p>

    </span>
  </p>
  <p id="viewmsg" style="display:none">
    <span id="contentview3"></span>
    <span style="float:right"><a href="javascript:void(0)" onclick="replayall(0)" class="mlink">Replay All</a><a href="javascript:void(0)" onclick="replayall(1)">Forward</a></span>
  </p>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
<ul class="quick-list">
<li>
    <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
</li>  
<li>  
    <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectCalendar()" clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">SETTING</ion-icon>
    </button>
</li>    
</ul>

  </ion-toolbar>
</ion-footer>