page-messages {



 #mwin input[type=text] {
    width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
  .datatble tr td{padding:3px;padding-left:5px;}
  .msgim{float:left;width:5%;}
  .msgb{float:left;width:95%;}
 .msgread{padding:5px;font-family:Verdana, Geneva, sans-serif;font-size:12px;margin-bottom:20px;clear:both;} 
  .body{padding-top:5px;font-family:Verdana, Geneva, sans-serif;font-size:12px;margin-bottom:20px;clear:both;} 
 .subject{padding-bottom:10px;font-family:Verdana, Geneva, sans-serif;font-size:12px;font-weight:bold;border-bottom:1px solid #666;} 
 .sender {height:20px;padding-top: 5px;}
 .reciver{height:20px;padding-top: 5px;}
  #mwin textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.mlink{margin-right:15px;}
.uls{padding-left:0px;padding-top:0px; margin: 0px;}
.uls li {
    width: 100%;
    padding:5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    resize: none;
	font-size:12px;
	list-style:none;
}
.subx{background: #fff; padding: 0px; position: absolute;border:1px solid #ccc;font-size:14px;}
#mwin input[type=button], input[type=submit], input[type=reset],button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}



    .text-input-md, .text-input{border:0px solid #f2f2f2;margin: 10px 0 20px;min-height: 35px;padding: 0 10px; width: 100%;}
.label-md[stacked] {
    font-size: 14px;
}
.ion-content{
    background-color:white;
}

.footer-icon{
    color:#fff;
    font-size:30px;    
}
ion-navbar.toolbar {
    background: #f0f0f0;
}
ion-navbar ion-buttons {
    margin-right: 15px;
}
.button-md-primary{width:100%;padding: 14px 1.1em;height:inherit;font-size: 16px;}
.scroll-content{background:#fff;}
.bar-buttons-md{order:inherit}
ion-navbar.toolbar{background:#f0f0f0;}
   .label-md[stacked]{
        font-size: 14px;
        color:black;
        font-weight:bold;

    }

   .item-button{
       background-color:#009ACD;
       text-transform:capitalize;
   }

   ion-input, ion-textarea,ion-select {    
    border: 1px solid #ccc;
    border-radius: 3px;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #fff;
}


.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #fff;
    box-shadow: #fff 0px -1px 0px 0px inset;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}
ion-navbar.toolbar{ background:#f0f0f0}
	.bar-buttons-md {order: inherit;}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover), .backtoprevious-icon{color:#333;text-transform: capitalize;}
	#sortbar{padding:0;margin:0;background:#f0f0f0}
	#sortbar ion-label{margin: 0;width: 100%;padding: 10px 15px;}
	#sortbar ion-label ion-icon{line-height: 12px;vertical-align: top;}
#sortbar ion-label button{width: 100%;background:none;padding: 0;}
.company-name {float: left;}
.ion-md-arrow-dropup{float: right;}
.scroll-content{background-color:#fff;}	
ion-item-sliding{border-bottom: 1px solid #ccc;}
.item-md{color:#333;padding:0;}
.item-md h2{margin:10px 0;}
.label-md b{width:40%;display:inline-block;}
ion-navbar ion-buttons{margin-right:15px;}
.add-new-btn{background: #333;color: #fff;padding: 10px;text-align: center;width: 100%;}
.algn-cent{margin:0 auto;display:table;}
.algn-cent .ios-add-circle-outline{float:left;}
.algn-cent span{float:right;font-size: 15px;margin: 6px 10px;}
.toolbar-title-md{padding:0;}
}
