<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  https://www.npmjs.com/package/ionic2-calendar
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <!--ion-buttons end>
      <button (click)="doAdd()" style="background-color:transparent">
            <ion-icon name="ios-add-circle-outline"></ion-icon>           
        </button>
    </ion-buttons-->
    <ion-buttons end>
      <button ion-button (click)="notification()">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>



</ion-header>

<ion-content padding>
  <ion-select style="padding: 1px 1px 6px 1px;" [(ngModel)]="pet" (ionChange)="onSegmentChanged(pet)">
    <ion-option value="ALL" selected=true>All</ion-option>
    <ion-option value="SERVICE">Service</ion-option>
    <ion-option value="ALARM">Alarm</ion-option>
    <ion-option value="EVENT">Event</ion-option>
  </ion-select>

  <ion-item class="item-calendar">
    <button ion-button (click)="pre()" class="calendar_pre"><<</button>
    <button ion-button class="calendar_ttl">{{dateHeaderTitle}}</button>
    <button ion-button (click)="nex()" class="calendar_nex">>></button>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)" (showEventDetail)=true (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
      step="30">
    </calendar>
  </ion-item>
  <h3>{{daySession}}</h3>
  <button class="add-new-btn" ion-button small (click)="doAdd()">
  +
 </button>

  <div [ngSwitch]="pet">
    <ion-list class="eventlist-grid" *ngSwitchCase="'ALL'">
      
      <ion-item *ngFor="let item of calendarResultEvent; let i = index" [attr.data-index]="i">
        <div>        
          <h2 clear item-right><b>Event:{{item.event_title}}  </b></h2>
        </div>
        <div>Date & Time:{{item.event_date}} {{item.event_time}}</div>
        <div>Location:{{item.event_location}}</div>
        <div>Notes:{{item.event_remark}}</div>
        <div>Event By:{{item.event_addedby_name}}</div>
      </ion-item>

      <ion-item *ngFor="let item of calendarResultService; let i = index" [attr.data-index]="i">
        <div>
        
          <h2 clear item-right><b>Service:{{item.service_subject}}  </b></h2>
        </div>
        <div>Date & Time:{{item.serviced_datetime}}</div>
        <div>Location:{{item.service_location}}</div>
        <div>Notes:{{item.service_remark}}</div>
        <div>Serviced By:{{item.serviced_by_name}}</div>
      </ion-item>

      <ion-item *ngFor="let item of calendarResultAlarm; let i = index" [attr.data-index]="i">
        <div>
        
          <h2 clear item-right><b>Alarm:{{item.alarm_name}}  </b></h2>
        </div>
        <div>Date & Time:{{item.alarm_assigned_date}}</div>
        <div>Location:{{item.alarm_location}}</div>
        <div>Notes:{{item.alarm_remark}}</div>
        <div>Alarm Assigned By:{{item.alarm_assginedby_name}}</div>
      </ion-item>

    </ion-list>

    <ion-list class="eventlist-grid" *ngSwitchCase="'EVENT'">
    
      <ion-item *ngFor="let item of calendarResultEvent; let i = index" [attr.data-index]="i">
        <div>
          <h2 clear item-right><b>Event:{{item.event_title}}  </b></h2>
        </div>
        <div>Date & Time:{{item.event_date}} {{item.event_time}}</div>
        <div>Location:{{item.event_location}}</div>
        <div>Notes:{{item.event_remark}}</div>
        <div>Event By:{{item.event_addedby_name}}</div>
      </ion-item>
      <ion-item *ngIf="totalCount==0">
        <div class="error">There is No Event</div>
      </ion-item>
    </ion-list>


    <ion-list class="eventlist-grid" *ngSwitchCase="'SERVICE'">
     
      <ion-item *ngFor="let item of calendarResultService; let i = index" [attr.data-index]="i">
        <div>
          <h2 clear item-right><b>Service:{{item.service_subject}}  </b></h2>
        </div>
        <div>Date & Time:{{item.serviced_datetime}}</div>
        <div>Location:{{item.service_location}}</div>
        <div>Notes:{{item.service_remark}}</div>
        <div>Serviced By:{{item.serviced_by_name}}</div>
      </ion-item>
      <ion-item *ngIf="totalCount==0">
        <div class="error">There is No Service</div>
      </ion-item>
    </ion-list>



    <ion-list class="eventlist-grid" *ngSwitchCase="'ALARM'">
    
      <ion-item *ngFor="let item of calendarResultAlarm; let i = index" [attr.data-index]="i">
        <div>
          <h2 clear item-right><b>Alarm:{{item.alarm_name}}  </b></h2>
        </div>
        <div>Date & Time:{{item.alarm_assigned_date}}</div>
        <div>Location:{{item.alarm_location}}</div>
        <div>Notes:{{item.alarm_remark}}</div>
        <div>Alarm Assigned By:{{item.alarm_assginedby_name}}</div>
      </ion-item>
      <ion-item *ngIf="totalCount==0">
        <div class="error">There is No Alarm</div>
      </ion-item>
    </ion-list>


  </div>

  <div [ngSwitch]="!pet">
   
    <ion-item *ngFor="let item of calendarResultEvent; let i = index" [attr.data-index]="i">
      <div>
        <h2 clear item-right><b>Event:{{item.event_title}}  </b></h2>
      </div>
      <div>Date & Time:{{item.event_date}}</div>
      <div>Location:{{item.event_location}}</div>
      <div>Notes:{{item.event_remark}}</div>
      <div>Event By:{{item.event_by_name}}</div>
    </ion-item>
    <ion-item *ngIf="totalCountEvent==0">
      <div class="error">{{noeventtitle}}</div>
    </ion-item>
  </div>
  <div><b>Legend</b></div>
  <div class="div-action">
    <button class="add-new-btn trippedcolor" small>
  Tripped
 </button>
    <button class="add-new-btn eventcolor">
  Event
 </button>
    <button class="add-new-btn warningcolor">
  Warning
 </button>
    <button class="add-new-btn servicecolor">
  Service
 </button>
  </div>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
    <button ion-button icon-only clear>
<ion-icon name="home" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUser()" clear>
<ion-icon name="contacts" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnitGroup()" clear>
<ion-icon name="chatboxes" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnits()" clear>
<ion-icon name="camera" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToRole()" clear>
<ion-icon name="settings" class="footer-icon"></ion-icon>
</button>
  </ion-toolbar>
</ion-footer>