<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  https://www.npmjs.com/package/ionic2-calendar
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="notification()">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
   <ion-badge item-end class="notificationcount" *ngIf="notcount>0">{{this.notcount}}</ion-badge>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>


</ion-header>
<ion-content>
  <ion-select style="padding: 1px 1px 6px 1px;" [(ngModel)]="pet" (ionChange)="onSegmentChanged(pet)">
    <ion-option value="ALL" selected=true>All</ion-option>
    <ion-option value="SERVICE">Service</ion-option>
    <ion-option value="EVENT">Event</ion-option>
    <ion-option value="ALARM">Alarm</ion-option>
  </ion-select>

  <ion-item class="item-calendar">
    <div class="cal-top">
      <button ion-button (click)="pre()" class="calendar_pre"><<</button>
      <button ion-button class="calendar_ttl">{{dateHeaderTitle}}</button>
      <button ion-button (click)="nex()" class="calendar_nex">>></button>
    </div>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="reloadSource(startTime, endTime)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar>
  </ion-item>
  <div class="spacing">
    <div class="list-title"><b>Legend</b></div>
    <div class="div-action">
      <button class="add-new-btn trippedcolor" small>
  Tripped
 </button>
      <button class="add-new-btn eventcolor">
  Event
 </button>
      <button class="add-new-btn warningcolor">
  Warning
 </button>
      <button class="add-new-btn servicecolor">
  Service
 </button>
    </div>
    <h3>{{daySession}}</h3>
    <button ion-button small (click)="doAdd()" style="color:white">
    <span class="add-calendar-button-inner">
  +</span>
 </button>
    <ion-list *ngIf="totalCountEventDateWise!=0">
      <ion-item-sliding *ngFor="let item of calendarResultEvent;">
        <ion-item *ngIf="item.event_type=='E'">
          Event
          <div>

            <h2 clear item-right><b>{{item.event_title}}  </b></h2>
          </div>
          <div>Date & Time:{{item.event_date}}</div>
          <div>Location:{{item.event_location}}</div>
          <div>Remarks:{{item.event_remark}}</div>
        </ion-item>
        <!--ion-item-options>
        <button class="editcolor" (click)="doEdit(item,'edit')">                      
                        <ion-icon name="create" class="icon-size"></ion-icon>
                    </button>
        <button class="trashcolor" (click)="doConfirm(item.event_id,item)">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>
      </ion-item-options-->

        <ion-item *ngIf="item.event_type=='S'">
          Service
          <div>

            <h2 clear item-right><b>Subject:{{item.event_title}}  </b></h2>
          </div>
          <div>Date & Time:{{item.event_date}}</div>
          <div>Location:{{item.event_location}}</div>
          <div>Remarks:{{item.event_remark}}</div>
        </ion-item>
        <!--ion-item-options>
        <button class="editcolor" (click)="doEdit(item,'edit')">                      
                        <ion-icon name="create" class="icon-size"></ion-icon>
                    </button>
        <button class="trashcolor" (click)="doConfirm(item.service_id,item)">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>
      </ion-item-options-->

        <ion-item *ngIf="item.event_type=='A'">
          Alarm
          <div>
            <h2 clear item-right><b>Alarm:{{item.event_title}}  </b></h2>
          </div>
          <div>Date & Time:{{item.event_date}}</div>
          <div>Location:{{item.event_location}}</div>
          <div>Remarks:{{item.event_remark}}</div>
        </ion-item>
        <ion-item-options>

          <button class="editcolor" (click)="doCalendarEdit(item,'Service')" *ngIf="item.event_type=='S'">                      
                        <ion-icon name="create" class="icon-size"></ion-icon>
                    </button>
          <button class="trashcolor" (click)="doCalendarDelete(item,'Service')" *ngIf="item.event_type=='S'">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>




          <button class="editcolor" (click)="doCalendarEdit(item,'Event')" *ngIf="item.event_type=='E'">                      
                        <ion-icon name="create" class="icon-size"></ion-icon>
                    </button>
          <button class="trashcolor" (click)="doCalendarDelete(item,'Event')" *ngIf="item.event_type=='E'">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>



          <button class="trashcolor" (click)="doCalendarDelete(item,'Alarm')" *ngIf="item.event_type=='A'">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>

        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list>
      <ion-item *ngIf="totalCountEventDateWise==0">
        <div class="error">{{noeventtitle}}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
    <ul class="quick-list">
      <li>
        <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
      </li>
      <li>
        <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
      </li>
      <li>
        <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
       <ion-badge item-end class="messagecount"  *ngIf="msgcount>0">{{this.msgcount}}</ion-badge>    
       </button>
        <ion-badge color="danger"></ion-badge>
      </li>
      <li>
        <button ion-button icon-only clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
      </li>
      <li>
        <button ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">SETTING</ion-icon>
    </button>
      </li>
    </ul>

  </ion-toolbar>
</ion-footer>