page-calendar {
.ion-content{
    background-color:white;
}


    #sortbar {
        width: 100%;
        min-height: 3.3rem;
        margin: 0px 7px 1px 41px;
        ion-label {
        margin: 0;
        }
        .item-inner {   
        padding: 0px;
        position: relative;
        top: 3px;
        }
        .input-wrapper {
        flex-direction: column;
        margin: auto;
        width: 285px;
        }
        .sort-line {
        border-left: 1.5px solid #cccccc;
        height: 100%;
        position: relative;
        top: 0.3rem;
        }
		
    } 
	
	.backtoprevious-navbar{ background:#f0f0f0}
	.bar-buttons-md {order: inherit;}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover), .backtoprevious-icon{color:#333;text-transform: capitalize;}
	#sortbar{padding:0;margin:0;background:#f0f0f0}
	#sortbar ion-label{margin: 0;width: 100%;padding: 10px 15px;}
	#sortbar ion-label ion-icon{line-height: 12px;vertical-align: top;}
#sortbar ion-label button{width: 100%;background:none;padding: 0;}
.company-name {float: left;}
.ion-md-arrow-dropup{float: right;}
.scroll-content{background-color:#fff;}	
ion-item-sliding{border-bottom: 1px solid #ccc;}
.item-md{color:#333;padding:0;}
.item-md h2{margin:10px 0;}
.label-md b{width:40%;display:inline-block;}
ion-navbar ion-buttons{margin-right:15px;}
.add-new-btn{padding: 10px;text-align: center;}
.algn-cent{margin:0 auto;display:table;}
.algn-cent .ios-add-circle-outline{float:left;}
.algn-cent span{float:right;font-size: 15px;margin: 6px 10px;}
.toolbar-title-md{padding:0;}
.no-events-label[_ngcontent-c0] {
    display:none;
}
.item-md.item-block .item-inner{padding-right:0;}
.label-md {margin: 13px 0px 13px 0;}
ion-select{background:#f0f0f0;max-width:98%;margin:15px auto 0;border-radius:5px;padding:10px 15px!important;}
.toolbar-md-bluedark .button-inner{height:inherit;}
}
.cal-top{background:#38b6ab;padding:5px 0 20px 0;text-align:center;}
.cal-top button, .cal-top button:hover:not(.disable-hover){background-color:transparent;background:none;height:inherit!important;border:none;box-shadow:none;}
.cal-top button span{height:inherit;}
.item-calendar table th, .item-calendar table td{border:none!important;text-transform:uppercase;font-size:17px;}
.item-calendar thead tr th:first-child, .item-calendar thead tr th:last-child, .item-calendar tbody tr td:first-child, .item-calendar tbody tr td:last-child{color:#38b6ab;}
.monthview-selected[_ngcontent-c1]{background-color:#38b6ab!important;border-radius:20px;}
.table-bordered[_ngcontent-c1]{border:0px solid #ddd;}
.table[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
padding: 10px;}
.event-detail-container[_ngcontent-c0]{border-top: 0px darkgrey solid!important;}
.div-action button{border-radius:5px;margin-right:5px;}
.table-bordered[_ngcontent-c1]{border:0px solid #ddd!important;}
.calendar_pre{float:left;}
.calendar_nex{float:right;}
.calendar_pre span.button-inner{background:url(../img/left_arrow.png) no-repeat;width:32px;height:32px;font-size:0;}
.calendar_nex span.button-inner{background:url(../img/right_arrow.png) no-repeat;width:32px;height:32px;font-size:0;}
.calendar_ttl{margin-top:10px;padding-bottom:0;margin-bottom:0;}
.calendar_ttl span{font-size:18px;}
.list-title{margin:10px 0;}
.spacing{padding:10px 15px;}
ion-navbar.toolbar-md-bluedark .toolbar-background-md{background:transparent;}