<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  https://www.npmjs.com/package/ionic2-calendar
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <!--ion-buttons end>
      <button (click)="doAdd()" style="background-color:transparent">
            <ion-icon name="ios-add-circle-outline"></ion-icon>           
        </button>
    </ion-buttons-->
    <ion-buttons end>
      <button ion-button>
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>



</ion-header>

<ion-content padding>
  <ion-select style="padding: 1px 1px 6px 1px;" [(ngModel)]="pet" (ionChange)="onSegmentChanged(pet)">
    <ion-option value="unitgroup_id,asc" selected="true">All</ion-option>
    <ion-option value="unitgroup_id,desc">Service</ion-option>
    <ion-option value="favorite,desc">Alarm</ion-option>
    <ion-option value="favorite,desc">Event</ion-option>
  </ion-select>
  <ion-list class="eventlist-grid">


    <ion-item class="item-calendar">
      <button ion-button (click)="pre()" class="calendar_pre"><<</button>
      <button ion-button class="calendar_ttl">{{dateHeaderTitle}}</button>
      <button ion-button (click)="nex()" class="calendar_nex">>></button>
      <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
        step="30">
      </calendar>
    </ion-item>
    <ion-item-sliding *ngFor="let item of calendarResult; let i = index" [attr.data-index]="i">
      <ion-item>
        <div>
          <h2 clear item-right><b>Service:{{item.service_subject}}  </b></h2>
        </div>
        <div>Date & Time:{{item.next_service_date}}</div>
        <div>Location:Singapore</div>
        <div>Notes:{{item.service_remark}}</div>
        <div>Serviced By:{{item.serviced_by_name}}</div>

      </ion-item>
      <ion-item-options>
        <button eyecolor (click)="doView(item.reportUUID,'DRAFT',item.title)">
                        <ion-icon ios="ios-eye-outline" md="ios-eye-outline"></ion-icon>
                    </button>
        <button mycolor (click)="doEdit(item.reportUUID,'DRAFT',item.title)">
                        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
                    </button>
        <button *ngIf="DELETE_EXPENSEREPORT" trashcolor (click)="doConfirm(item,'DRAFT')">
                        <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
                    </button>
      </ion-item-options>
    </ion-item-sliding>

  
      <div class="div-action">
        <b>Legend</b>
        <button class="add-new-btn" ion-button small (click)="doTripped()">
  Tripped
 </button>
        <button class="add-new-btn" ion-button small (click)="doEvent()">
  Event
 </button>
        <button class="add-new-btn" ion-button small (click)="doWarning()">
  Warning
 </button>
        <button class="add-new-btn" ion-button small (click)="doService()">
  Service
 </button>
        <h3>Todays Event</h3>
        <button class="add-new-btn" ion-button small (click)="doAdd()">
  +
 </button>
      </div>
  
  </ion-list>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
    <button ion-button icon-only clear>
<ion-icon name="home" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUser()" clear>
<ion-icon name="contacts" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnitGroup()" clear>
<ion-icon name="chatboxes" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToUnits()" clear>
<ion-icon name="camera" class="footer-icon"></ion-icon>
</button>
    <button ion-button icon-only (click)="redirectToRole()" clear>
<ion-icon name="settings" class="footer-icon"></ion-icon>
</button>
  </ion-toolbar>
</ion-footer>