page-addunitgroup {
.text-input-md, .text-input{border:1px solid #f2f2f2;margin: 10px 0 20px;min-height: 35px;padding: 0 10px; width: 100%;}
.label-md[stacked] {
    font-size: 14px;
}
ion-navbar.toolbar {
    background: #f0f0f0;
}
ion-navbar ion-buttons {
    margin-right: 15px;
}
.button-md-primary{width:100%;padding: 14px 1.1em;height:inherit;font-size: 16px;}
.scroll-content{background:#fff;}
    .header{
 color : #071C89;
 }
  .sheader1{
 color : #000000;
 }
  .sheader2{
 color : #000000;
 float: right;
 }
 .button1{
background-color: #FBE983;
 width: 40px;
 height: 40px;
 }
  .button3{
 background-color: #A4BDFD;
 width: 40px;
 height: 40px;
 }
  .button4{
 background-color: #47D6DC;
 width: 40px;
 height: 40px;
 }
  .button5{
 background-color: #7AE7BE;
 width: 40px;
 height: 40px;
 }
  .button6{
 background-color: #51B749;
 width: 40px;
 height: 40px;
 }
  .button7{
 background-color: #FBD75C;
 width: 40px;
 height: 40px;
 }
  .button8{
 background-color: #FFB878;
 width: 40px;
 height: 40px;
 }
 .buttoncolorgroup button:focus {
border: 1px solid #000;
}
 /*.buttoncolorgroup button:active,.buttoncolorgroup button:focus,.buttoncolorgroup button:hover{border: 2px solid #000;}
 */.button9{
 background-color: #FF877C;
 width: 40px;
 height: 40px;
 }
  .button10{
 background-color: #DC2128;
 width: 40px;
 height: 40px;
 }
  .button11{
 background-color: #DAADFE;
 width: 40px;
 height: 40px;
 }
  .button12{
 background-color: #E1E1E1;
 width: 40px;
 height: 40px;
 }
  .button2{
 background-color: #5584EE;
 width: 40px;
 height: 40px;
 }
.border-need{border:2px solid #000000;}
}
