    page-companygroup {
    .viewcolor{
    background-color: #6D1511;
    }
    .editcolor{
    background-color: #69BB7B;
    }
    .trashcolor{
    background-color: #DB3223;
    }
    #sortbar {
        width: 100%;
        min-height: 3.3rem;
        margin: 0px 7px 1px 41px;
        ion-label {
        margin: 0;
        }
        .item-inner {   
        padding: 0px;
        position: relative;
        top: 3px;
        }
        .input-wrapper {
        flex-direction: column;
        margin: auto;
        width: 285px;
        }
        .sort-line {
        border-left: 1.5px solid #cccccc;
        height: 100%;
        position: relative;
        top: 0.3rem;
        }
    } 
}


 #sortbar {
        width: 100%;
        min-height: 3.3rem;
        margin: 0;
        ion-label {
        margin: 0;
        }
        .item-inner {   
        padding: 0px;
        position: relative;
        top: 3px;
        }
        .input-wrapper {
        flex-direction: column;
        margin: auto;
        width: 285px;
        }
        .sort-line {
        border-left: 1.5px solid #cccccc;
        height: 100%;
        position: relative;
        top: 0.3rem;
        }
    } 
  .company-name{
    position: absolute;
    top: 30%;
    left: 10%;
  }
    .odd-row-list{
        background-color: #cccccc
    }
    .event-row-list{
        background-color: #eaeaea;
    }
    ion-icon{
            font-size: 25px;
            color: white;
            background-color: transparent;
        }   
.mandatory{
    color:red;
}
.separator-line{
    border-top: 1px solid #cccccc;
    position: relative;
    margin-left: 6%;
    margin-top: 3px;
}
