<!--
  Generated template for the AddserviceinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="bluedark">
    <ion-title class="page-title">{{unitDetailData.pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button>
 <ion-icon name="notifications-outline"></ion-icon>
</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar class="backtoprevious-navbar">
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{unitDetailData.loginas}}
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="saveEntry()" enctype='application/x-www-form-urlencoded' method="post">
    <ion-list>

 <ion-item>
    <button class="{{unitDetailData.colorcodeindications}}" style="float: left ;width:8px;height:100px">         
        </button>
        <button class="dot" (click)="viewunit()" style="float: right ;width:50px;height:50px;background-color:#ffffff"></button>
    <button class="{{unitDetailData.favoriteindication}}" style="float: right ;width:50px;height:50px;background-color:#ffffff"></button>
    <div style="overflow: hidden; padding-left: .5em;">
      <h2><b>{{unitDetailData.unitname}}</b></h2>
      <h2>Project Name:{{unitDetailData.projectname}}</h2>
      <h2>Location:{{unitDetailData.location}}</h2>
      <h2  *ngIf="unitDetailData.lat!=''">({{unitDetailData.lat}},{{unitDetailData.lng}})</h2>
      
    </div>
  </ion-item>
     
      <ion-item>
        <ion-label stacked>Subject <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="service_subject" [(ngModel)]="service_subject"></ion-input>
      </ion-item>
      <b>Remark</b> <span class="mandatory" *ngIf="hideActionButton">*</span>
      <!--input type="text" (keyup)=address1get($event.target.value); id="example1" class="form-control" rows="8" [disabled]="readOnly"
        formControlName="service_remark" rows="6" [(ngModel)]="service_remark"-->


         <input type="text" (keyup)=address1get($event.target.value); name="to" id="to"  class="sugges" onkeyup="sptions(event)" onblur="sptionshide()" class="form-control" rows="8" [disabled]="readOnly"
        formControlName="service_remark" [(ngModel)]="service_remark">

      <p><b>Upload Images</b></p>
      <p>Maximum Number of upload photos:10</p>
      <div class="profile-image-wrapper" (click)="takePictureURL(micro_timestamp)" *ngIf="isUploaded">
        <div class="profile-image-placeholder">
          <ion-icon name="add" style="color: blue;
    position: relative;
    top: -7px;
    left: 14px;"></ion-icon>
        </div>
        <div class="profile-image"></div>
      </div>

      <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
      <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>

      <div *ngIf="addedImgLists.length>0"></div>
      <ion-grid>
        <ion-row>
          <ion-col col-auto *ngFor="let item of addedImgLists; let i = index" [attr.data-index]="i">
            <ion-item>
              <ion-avatar item-start><img src="{{addedImgLists[i].imgSrc}}" width="100" height="50" /> </ion-avatar>
            </ion-item>
            <a href="#" (click)="doRemoveResouce(addedImgLists[i].resouce_id,item)">
              <ion-icon name="backspace" style="color: brown;
    font-size: 20px;
    position: relative;
    bottom: 55px;
    left: 24px;"></ion-icon>
            </a>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-item *ngIf="hideActionButton">
        <button ion-button color="primary" text-center block [disabled]="!form.valid">Complete and Save</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
<ul class="quick-list">
<li>
    <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
</li>  
<li>  
    <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectCalendar()" clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
</li>      
<li>    
    <button ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">SETTING</ion-icon>
    </button>
</li>    
</ul>

  </ion-toolbar>
</ion-footer>